body{

}
form{
    display:flex;
    flex-direction: column;
    gap:10px;
    text-align:center;
    backround-color:darkcyan;
}
button{
    background-color: darkcyan;
    box-shadow: -2px -2px 0 black;
}
input,textarea,select{
    background-color: darkcyan;
    color: black;
}
